<%- include('../includes/head.ejs') %> 
  <% users.forEach((user) => { %>
    <div>
      <h3><%= user.firstName %> <%= user.lastName %> </h4>
      <p>username: <%= user.username %> </p>
      <button class="edit-btn" data-id="<%= user.id %>">Edit</button>
      <button class="delete-btn" data-id="<%= user.id %>">Delete</button>
    </div>
  <% }); %> 
<script src="./js/index.js"></script>
<%- include('../includes/end.ejs') %>
