<%- include('../includes/head.ejs') %> 
  <% users.forEach((user) => { %>
    <div>
      <h3><%= user.firstname %> <%= user.lastname %> </h4>
      <p>username: <%= user.username %> </p>
      <a href="/admin/edit-user/<%= user.id %>">Edit</a>
      <form action="/admin/delete-user" method="POST">
        <input type="hidden" name="userId" value="<%= user.id %>">
        <button type="submit" class="delete-btn">Delete</button>
      </form>
    </div>
  <% }); %> 
<%- include('../includes/end.ejs') %>
