<%- include('../includes/head.ejs') %> 
  <% users.forEach((user) => { %>
    <div>
      <h3><%= user.firstName %> <%= user.lastName %> </h4>
      <p><%= user.username %> </p>
    </div>
  <% }); %>    
<%- include('../includes/end.ejs') %> 
