<%- include('../includes/head.ejs') %> 
  <% users.forEach((user) => { %>
    <div>
      <h3><%= user.firstname %> <%= user.lastname %></h4>
      <p>username: <%= user.username %></p>
    </div>
  <% }); %>    
<%- include('../includes/end.ejs') %> 
